@model IEnumerable<ShoppingBOL.Product>
@{
    ViewData["Title"] = "SeeAll";
}

<h2>All Products</h2>

<table border="1">
    <tr>
        <td>Product Id</td>
        <td>Product Name</td>
        <td>Price Per Unit</td>
        <td>Stock</td>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.ProductName</td>
            <td>@product.PricePerUnit</td>
            <td>@product.Stock</td>
        </tr>
    }

</table>