@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ShoppingBOL.Order
@{
    ViewData["Title"] = "Create";
}

<h2>Create an Order</h2>

<div>
    <form asp-controller="Customer" , asp-action="Create" method="post">
        <label asp-for="OrderName">Name of the Order</label> : <input asp-for="OrderName" type="text" /><br />
        <label asp-for="Quantity">Quantity</label> : <input asp-for="Quantity" type="text" /><br />
        <input type="submit" Value="Create a Customer" style="color: aqua" />
    </form>
</div>

