
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to HereShopping</h2>

@Html.ActionLink("Go to Product Bar", "Index", "Product")<br />
@Html.ActionLink("Create a new Customer", "Create", "Customer")